/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";
/* tailwindcss邪魔 */
.longButton{width:100%}
.error{
    color: rgb(190, 0, 0);
    font-weight: bolder;
}
.Dialog{
    background: #e1e1e1;
    width: 40vw;
    padding: 10px;
}
.contentsContainer{
    border:black solid 1px;
    margin-bottom:20px;
    padding: 5px;
    cursor: pointer;
}
.contentsContainer a{
    text-decoration: none;
    color: black;
}
