/* @import "tailwindcss/base"; */
/* @import "tailwindcss/components"; */
@import "tailwindcss/utilities";
/* tailwindcss邪魔 */
body{
    background-color: #f5f5f5;
}
.longButton{width:100%}
.error{
    color: rgb(190, 0, 0);
    font-weight: bolder;
}
.Dialog{
    background: #e1e1e1;
    max-height: 95vh;
    width: 50vw;
    padding: 10px;
}
.contentsContainer{
    display: grid;
    grid-template-columns:10fr 1fr;
    background-color: #e1e1e1;
    border:black solid 1px;
    margin-bottom:20px;
    padding: 5px;
    /* cursor: pointer; */
}
.contentsContainer button{
    width: 100%;
}
.contentsContainer h2{
    grid-column: 1/2;
}
.contentsContainer a{
    text-decoration: none;
    color: black;
}

.v-pagination__list{
    margin-bottom: 50px;
}

@media (max-width: 960px){
    .Dialog{
        background: #e1e1e1;
        max-height: 95vh;
        width: 80vw;
        padding: 10px;
    }
}
